{
  "env": {
    "production": {
      "presets": [
        ["es2015", { modules: false }],
        "react"
      ],
    },
    "development": {
      "presets": ["es2015", "react"],
    },
    "test": {
      "presets": ["es2015", "react"],
    },
  },
  "plugins": [
    "ramda",
    "transform-object-rest-spread"
  ]
}
