{
  "presets": ["es2015", "react"],
  "env": {
    "commonjs": {
      "presets": [
        ["es2015", { modules: false }],
        "react"
      ],
    }
  },
  "plugins": [
    "ramda",
    "transform-object-rest-spread"
  ]
}
